<%= form_for([@site, @site.circuits.build]) do |form| %>
  <% if @circuit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@circuit.errors.count, "error") %> prohibited this circuit from being saved:</h2>

      <ul>
      <% @circuit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %>
    <%= f.text_field :id %><br>

    <%= f.label :ref %>
    <%= f.text_field :ref %><br>

    <%= f.label :category %>
    <%= f.text_field :category %><br>

    <%= f.label :speed %>
    <%= f.text_field :speed %><br>

    <%= f.label :carrier %>
    <%= f.text_field :carrier %><br>

    <%= f.label :carrierRef %>
    <%= f.text_field :carrierRef %><br>

    <%= f.label :site_id %>
    <%= f.text_field :site_id %>

    <%= f.submit %>
  </div>
<% end %>