<p id="notice"><%= notice %></p>
<%#= link_to 'Edit', edit_circuit_path(@circuit) %>
<%= link_to "Back", :back %>
<%= link_to 'Back to Site', sites_path(@site) %>
<%= link_to 'Back to Customer', customers_path(@customer) %>
<br>
<%= render 'form_edit' %>