
<%= form_for (@customer) do |form| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <table>
    <thead>
    <th>Customer Details</th>
    </thead>
    </table>  
    <%= form.label :customer_id, 'Customer ID' %>
    <%= @customer.id %><br>
      
    <%= form.label :name, 'Customer ID' %>
    <%= @customer.name %><br>  
    
    <% if current_user.admin? %>  
    <%= form.label :name %>
    <%= form.text_field :name %><br>
    <% end %>
    <%= form.label :contact %>
    <%= form.text_field :contact %><br>

    <%= form.label :phone %>
    <%= form.text_field :phone %><br>

    <%= form.label :email %>
    <%= form.text_field :email %><br>

    <%= form.submit %>
  </div>
<% end %>