<%= form_for([@customer, @customer.sites.build]) do |form| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %><br>

    <%= form.label :address %>
    <%= form.text_field :address %><br>

    <%= form.label :contact %>
    <%= form.text_field :contact %><br>

    <%= form.label :phone %>
    <%= form.text_field :phone %><br>

    <%= form.label :email %>
    <%= form.text_field :email %>

    <%= form.submit %>
  </div>
<% end %>