<p id="notice"><%= notice %></p>

<%= link_to 'Back to Customer', customers_path(@customer) %>

<%= render 'form_edit' %>

<div class="right", style="overflow-x:auto;">

<table>
  <thead>
    <th colspan="10">Circuit Details</th>
    <tr>
      <th>ID</th>
      <th>Reference</th>
      <th>Category</th>
      <th>Speed</th>
      <th>Carrier</th>
      <th>Carrier Reference</th>
      <th>Site</th>
      <% if current_user.admin? %>
      <th colspan="3">Select</th>
      <% end %>
    </tr>
  </thead>
<% @site.circuits.each do |circuit| %>
<tbody>
      <tr>
        <td><%= circuit.id %></td>
        <td><%= circuit.ref %></td>
        <td><%= circuit.category %></td>
        <td><%= circuit.speed %></td>
        <td><%= circuit.carrier %></td>
        <td><%= circuit.carrierRef %></td>
        <td><%= circuit.site_id %></td>
        <% if current_user.admin? %>
        <td class="edit"><%= link_to 'Show', site_circuit_path(@site, circuit) %></td>
        <td class="edit"><%= link_to 'Edit', edit_site_circuit_path(@site, circuit) %></td>     
        <td class="edit"><%= link_to 'Destroy', circuit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
<% end %>
      </tr>
  </tbody>
</table>



<%= form_for([@site, @site.circuits.build], local: true) do |form| %>
    <%= form.submit 'Add a Circuit'%>
<% end %>
</div>


