<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  
<p class="navbar-text pull-right">
  <%= link_to "Back", :back %>
  <%= link_to 'Customers', customers_path, :class => 'navbar-link' %> |
  <% if user_signed_in? %>
  <% if current_user.admin? %>
  <%= link_to 'Sites', sites_path, :class => 'navbar-link' %> |
  <% end %>
  <% end %>
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong> |
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%#= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
  <%#= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>
<hr>
<%= yield %>

  <div id='footer'>
    <hr>
    <p>&copy; mgmt-tool &trade; 2017</p>
    <p>NCI Ireland | Mayor Street | Dublin 1 | 01 2345678 | mgmtapptool@gmail.com</p>
  </div>

</body>
</html>